* {
    margin: 0;
    padding: 0;
}

.form-group {
    position: relative;
}

body {
    font-size: 20px;
}

.error-element {
    color: red;
    font-size: 16px;
    position: absolute;
    top: 2.3rem;
}

